/* Place CSS overrides in this directory */

/* Change background color */
body {
    background-color: #eeeeee;
}

/* Text color */
h1, h2, h3, h4, .rootHeading, #heading {
    color: #ab4837;
    background: #eeeeee;
}

a, .exampleHeading .text {
    color: #cc202f;
}


/* Broadcom image */
div#topbar {
    background: url("https://static.broadcom.com/static/img/broadcom-logo.png") right center no-repeat;
    padding-left: 100%;
}

section.slides {
    background: url("https://static.broadcom.com/static/img/broadcom-logo.png") right bottom no-repeat;
}

/* Hide header and footer */
#topbar > div > form, #footer {
    visibility: hidden;
}

/* Change content */
#page:not(.wide) > h1:first-of-type {
    visibility: hidden;
    position: relative;
}

#page:not(.wide) > h1::after {
    top: 0;
    left: 0;
    visibility: visible;
    position: absolute;
    content: "BlazeMeter";
}

#page:not(.wide) > div.container {
    visibility: hidden;
}

/* Change content */

div#page:not(.wide) > h1 {
    visibility: hidden;
    position: relative;
}

div#page:not(.wide) > h1::after {
    top: 0;
    left: 0;
    visibility: visible;
    position: absolute;
    content: "Available Content";
}
